.header_main {
    .logo {
        img {
            cursor: pointer;
            width: 100%;
            padding: 10px 70px;
        }
        img:focus {
            outline: none;
        }
    }
    .navmenu_main {
        margin: 0px auto;
        nav {
            padding: 0px;
            ul {
                li {
                    a {
                        cursor: pointer;
                        padding: 8px 10px;
                        color: #000;
                        font-size: 13px;
                        line-height: 18px;
                        letter-spacing: 0.08em;
                    }
                    a:hover {
                        color: rgb(190, 162, 117);
                    }
                    a.active {
                        color: rgb(190, 162, 117);
                        background-color: transparent;
                    }
                }
                li.dropdown {
                    .dropdown-hover {
                        display: none;
                        position: absolute;
                        min-width: 160px;
                        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
                        z-index: 1;
                        background-color: #fff;
                        a {
                            padding: 6px 15px;
                            color: #666;
                        }
                        a:focus, a:active {
                            background-color: #f8f9fa;
                            outline: none;
                        }
                        a.active {
                            color: rgb(190, 162, 117);
                        }
                    }
                }
                li.dropdown:hover {
                    a.dropdown-toggle {
                        color: rgb(190, 162, 117);
                    }
                    .dropdown-hover {
                        display: block;
                        a:hover {
                            color: rgb(190, 162, 117);
                        }
                    }
                }
            }
        }
    }
}