.login-main {
    position: relative;
    top: 15vh;
    margin: 0px;
    .login-box-col {
        .login-block {
            width: 100%;
            padding: 20px;
            background: #fff;
            border-radius: 5px;
            margin: 0 auto;
            border: 1px solid #cf3665;
            margin: 0 auto;
            border-top: 5px solid #cf3665;
            box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
            img {
                width: 100%;
                padding: 0px 20px 20px 20px;
                cursor: pointer;
            }
            input {
                width: 100%;
                height: auto;
                box-sizing: border-box;
                border-radius: 5px;
                border: 1px solid #ccc;
                margin-bottom: 20px;
                font-size: 14px;
                font-family: Montserrat;
                padding: 6px 15px !important;
                box-shadow: none;
            }
            input:active, input:focus {
                border: 1px solid #999999;
            }
            input[type="radio"] {
                width: auto;
                margin-right: 6px;
                position: relative;
                top: -2px;
            }
            input:-webkit-autofill, textarea:-webkit-autofill, select:-webkit-autofill {
                background-color: transparent;
            }
            button {
                width: 100%;
                height: 40px;
                background: #926040;
                box-sizing: border-box;
                border-radius: 5px;
                border: 1px solid #926040;
                color: #fff;
                font-weight: bold;
                text-transform: uppercase;
                font-size: 14px;
                font-family: Montserrat;
                outline: none;
                cursor: pointer;
            }
            button:hover {
                background: #8f5937;
            }
            .account_details_main {
                padding-bottom: 10px;
                .register_submit_btn {
                    padding-top: 15px;
                }
            }
        }
        .reg_links  {
            padding: 10px 0px 5px 0px;
            p {
              color: rgb(133, 133, 133);
              margin-bottom: 0px;
                span {
                    a {
                        color: rgb(133, 133, 133);
                        font-size: 14px;
                        line-height: 20px;
                    }
                }
            }
        }
        .back_links {
            p {
                margin-bottom: 0px;
                a {
                  color: rgb(133, 133, 133);
                  font-size: 14px;
                  line-height: 20px;
                }
            }
        }
    }
  }