<div class="row login-main">
    <div class="container">
      <div class="login-box-col col-sm-4 offset-sm-4 col-xs-12">
          <div class="login-block">
              <img src="../../assets/images/vj_logo.jpg">
              <input type="text" value="" placeholder="Enter your Email ID" id="username" />
              <button>Submit</button>
          </div>
          <div class="reg_links">
            <p>
              <span>
                Already have an Account
              </span>
              <span>
                <a routerLink="/login">Login here</a>
              </span>
            </p>
          </div>
          <div class="back_links">
              <p>
                <a href="#"><< Back to Wedding Vendors</a>
              </p>
          </div>
      </div>
    </div>
  </div>